<!DOCTYPE HTML>
{%load staticfiles%}
<!--
	Justice by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WEBLOG &mdash; {{insert_1}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Roboto+Mono" rel="stylesheet">
	<!-- Animate.css-->
	<link rel="stylesheet" href="{% static "css/animate.css"%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css"%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css"%}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css"%}">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="gtco-loader"></div>

	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 text-left">
					<div id="gtco-logo"><a href="index.html">WE BLOG<span>.</span></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="has-dropdown">

						</li>
					<li> <a href="#">WELCOME :::{{user}}:::</a> </li>
						<li><a href="{%url 'blog:logout'%}">LOG-OUT</a></li>
						<li><a href="{%url 'blog:addblog'%}">ADD BLOG</a></li>

					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({%static "images/img_1.jpg"%})" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">

							<h1 class="mb30">It's ALL ABOUT YOUR VIEWS</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-main">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					{% for blo in blogs  %}
					<ul id="gtco-post-list">



						<li class="full entry animate-box" data-animate-effect="fadeIn">
							<a href="single.html">
								<div class="entry-img" style="background-image: url({%static "images/img_1.jpg"%})"></div>
								<div class="entry-desc">
									<h3>{{blo.username}}</h3>
									<p>{{blo.blog}}</p>
								</div>
							</a>

						</li>



					</ul>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>





	<footer id="gtco-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
			
					<p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static "js/jquery.min.js"%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js"%}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js"%}"></script>
	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js"%}"></script>
	<!-- Stellar -->
	<script src="{% static "js/jquery.stellar.min.js"%}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js"%}"></script>

	</body>
</html>
